@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif; }

/* BARRA DE NAVEGACIÓN */
/* HOME */
.navegation {
  height: 0px; }

.img__navbar:hover {
  width: 65px;
  height: 65px; }

.nav__colorblack {
  background-color: transparent; }

.nav-link, .nav__white {
  color: white;
  font-size: 25px;
  margin-right: 100px; }
  .nav-link:hover, .nav__white:hover {
    color: grey;
    font-size: 26px; }

.collapse {
  justify-content: space-around; }

.container {
  padding-top: 1rem;
  padding-bottom: 1rem; }

/* ESCUELA */
.nav__white {
  color: black; }

/* -------------------------------------HOME-------------------------------------  */
/*HEADER*/
.index {
  background-color: black;
  /*FOOTER*/ }
  .index__header, .ballet, .galeria__header, .escuela__header {
    background-image: url(../resources/img/julimarlene.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    .index__header--title, .ballet--title, .galeria--title, .escuela--title {
      color: azure;
      text-align: center;
      font-size: 150px;
      font-family: 'Great Vibes', cursive;
      font-weight: 500;
      position: relative;
      top: 50%; }
    .index__header--subtitle, .ballet--subtitle, .galeria--subtitle, .escuela--subtitle {
      color: azure;
      text-align: center;
      font-size: 45px;
      font-weight: 100;
      position: relative;
      top: 50%; }
  .index__text {
    background-color: black;
    background-image: url(../resources/img/fondo_index.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 100%;
    margin-top: 5rem; }
    .index__text--title, .ballet__body--title, .escuela__body--title {
      color: azure;
      font-size: 40px;
      margin: 10px; }
    .index__text--description, .index__footer--text, .ballet__footer--text, .ballet__body--text, .escuela__body--text, .contacto__body--text {
      color: azure;
      font-size: 20px;
      text-align: justify;
      margin: 10px; }
  .index__footer, .ballet__footer {
    background-image: linear-gradient(to bottom, black, grey);
    padding-top: 2rem; }
    .index__footer--img, .ballet__footer--img {
      height: 40px;
      width: 40px; }
      .index__footer--img:hover, .ballet__footer--img:hover {
        height: 50px;
        width: 50px; }
    .index__footer--h3, .ballet__footer--h3 {
      color: white;
      margin-top: 50px; }
    .index__footer--col {
      line-height: 100px; }
    .index__footer--text, .ballet__footer--text {
      text-align: center;
      font-size: 15px; }
  .index .list-group-item-personal, .index .list-group-item {
    background-color: transparent;
    color: white; }
  .index .list-group__lineheight {
    margin-top: 50px; }
  .index .list-group-item:hover {
    font-size: 20px;
    color: pink; }

/* -------------------------------------BALLET-------------------------------------  */
/* HOME */
.ballet, .galeria__header, .escuela__header {
  background-color: white;
  background-image: url(../resources/Ballet/fondoballet.jpg);
  /*FOOTER*/ }
  .ballet--title, .galeria--title, .escuela--title {
    color: black;
    background-color: rgba(255, 255, 255, 0.486);
    font-size: 100px;
    top: 55%; }
  .ballet--subtitle, .galeria--subtitle, .escuela--subtitle {
    color: black;
    background-color: rgba(255, 255, 255, 0.486);
    font-size: 30px;
    top: 53.75%; }
  .ballet__body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding-top: 5rem; }
    .ballet__body--title, .escuela__body--title {
      color: black;
      padding-bottom: 2rem;
      padding-top: 2rem; }
    .ballet__body--text {
      color: black; }
  .ballet__footer {
    background-image: linear-gradient(to bottom, white, grey); }
    .ballet__footer--h3 {
      color: black; }
    .ballet__footer--text {
      color: black; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(108%); }

.carousel-altura {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.galeria__header, .escuela__header {
  background-image: url(../resources/img/fondogaleria.png);
  background-color: white; }

.galeria--title {
  background-color: transparent; }

.galeria--subtitle {
  background-color: transparent; }

.footer__white {
  background-color: transparent;
  color: black; }
  .footer__white:hover {
    font-size: 20px;
    color: #f87d92; }

.footer__lineheight {
  margin-top: 50px; }

/* -------------------------------------BALLET-------------------------------------  */
/* HEADER */
.escuela__header {
  background-image: url(../resources/escuela/escuela01.jpeg);
  width: 100vw; }

.escuela__body {
  padding-top: 3rem; }
  .escuela__body--title {
    font-size: 30px; }
  .escuela__body--text, .contacto__body--text {
    color: black; }

.contacto__body {
  padding: 2rem;
  padding-top: 10rem;
  height: 100vh; }
  .contacto__body--text {
    font-size: 15px; }

@media (min-width: 320px) and (max-width: 576px) {
  .index__header--title, .ballet--title, .galeria--title, .escuela--title {
    font-size: 60px;
    top: 70%; }
  .index__header--subtitle, .ballet--subtitle, .galeria--subtitle, .escuela--subtitle {
    font-size: 20px;
    top: 70%; } }

@media (min-width: 577px) and (max-width: 991px) {
  .index__header--title, .ballet--title, .galeria--title, .escuela--title {
    font-size: 120px;
    top: 82%; }
  .index__header--subtitle, .ballet--subtitle, .galeria--subtitle, .escuela--subtitle {
    font-size: 30px;
    top: 80%; } }
