@media (min-width: 320px) and (max-width: 576px) {
    .index__header {
        &--title {
            font-size: 60px;
            top: 70%;
        }

        &--subtitle {
            font-size: 20px;
            top: 70%;
        }
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .index__header {
        &--title {
            font-size: 120px;
            top: 82%;
        }

        &--subtitle {
            font-size: 30px;
            top: 80%;
        }
    }
}