@media (min-width: 320px) and (max-width: 576px) {
    .index__header {
        &--title {
            font-size: 60px;
            top: 70%;
        }

        &--subtitle {
            font-size: 20px;
            top: 70%;
        }
    }

    .index__text {
        &--title {
            font-size: 25px;
            margin: 15px;
        }

        &--description {
            font-size: 15px;
            margin: 15px;
        }
    }

    .video {
        width: 350px;
        height: 200px;
    }

    .carreraprof{flex-direction: column-reverse;}

}

@media (min-width: 577px) and (max-width: 991px) {
    .index__header {
        &--title {
            font-size: 120px;
            top: 82%;
        }

        &--subtitle {
            font-size: 30px;
            top: 80%;
        }
    }
}