* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}

.nav__color {
    background-color: transparent;
}

.nav-link {
    color: white;
    font-size: 2rem;
}

.nav__acolor {
    color: black;
}

.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-toggler {color: white;}
.navbar-toggler-icon{color: white;}

.btn{margin: 1rem;}

.form-floating{margin: 1rem;
background-color: white;}

/* --------------------- INDEX  ---------------------*/
/* HEADER */
.body {
    background-color: black;
}


.header {
    background-color: black;
    background-image: url(./julimarlene.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 100vh;

}

/* NAVBAR */

.header__navbar ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    top: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.header__navbar li {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;

}

.header__navbar a {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    color: azure;
}

.header__title {
    color: azure;
    text-align: center;
    position: relative;
    top: 45%;
    font-size: 10rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
}

.header__descripcion {
    color: azure;
    text-align: center;
    position: relative;
    top: 45%;
    font-size: 3rem;
    font-weight: 100;
}


/* BODY */



.section {
    background-color: black;
    background-image: url(./julimarlene3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 100%;
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .section {
        display: grid;
        grid-template-areas:
            "TITLE1 SECTION1 SECTION1"
            "SECTION2 SECTION2 TITLE2"
            "TITLE3 SECTION3 SECTION3";
        grid-template-columns: repeat(3, 1fr);
    }
}


.section__title {
    color: aliceblue;
    font-size: 4rem;

    padding: 3rem;
    font-family: 'Arima Madurai', cursive;
}

.section__title#t1 {
    grid-area: TITLE1;
    text-align: left;
}

.section__title#t2 {
    grid-area: TITLE2;
    text-align: right;
}

.section__title#t3 {
    grid-area: TITLE3;
    text-align: left;
}

.section p {
    color: aliceblue;
    font-size: 2rem;
    text-align: justify;
    line-height: 3.5rem;
    padding: 1rem;
    font-family: 'Arima Madurai', cursive;
}

.section p#p1 {
    grid-area: SECTION1;
}

.section p#p2 {
    grid-area: SECTION2;
}

.section p#p3 {
    grid-area: SECTION3;
}

/* FOOTER */

.footer {
    background-color: white;
    height: 100%;
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
}


.footer__title {
    color: black;
    font-size: 2rem;
    text-align: left;
    padding: 0.5rem;
}

.footer__comunicar ul {
    list-style-type: none;

}

.footer__comunicar li {
    font-size: 1rem;
    padding: 0.5rem;
    list-style-type: none;
}

.footer__redessociales ul {
    list-style-type: none;
    text-align: right;
    text-decoration: none;
}

.footer__redessociales li {
    font-size: 1rem;
    padding: 0.5rem;
    list-style-type: none;
}


/* --------------------- GALERIA  ---------------------*/
/* HEADER GALERIA */

.headergaleria__title {
    color: azure;
    text-align: center;
    position: relative;
    top: 45%;
    font-size: 6rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
}

/* BODY GALERIA */

.bodygaleria {
    background-color: black;
}

.sectiongaleria {
    background-color: #1A1511;
}

.imagegaleria {
    max-height: 50rem;
    padding: 2rem;
}

.videogaleria {
    padding: 1rem;
    max-width: 30rem;
}

/* --------------------- BALLET  ---------------------*/
/* HEADER BALLET */

.headerballet {
    background-color: white;
    background-image: url(./fondoballet.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 60rem;
}

/* NAVBAR BALLET */

.headerballet__navbar ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    top: 3rem;
}

.headerballet__navbar li {
    display: inline-block;
}

.headerballet__navbar a {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    margin: 5rem;
    color: black;
}

.headerballet__title {
    color: black;
    text-align: center;
    position: relative;
    top: 30rem;
    font-size: 7rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    background-color: white;
}

.headerballet__descripcion {
    color: azure;
    text-align: center;
    position: relative;
    top: 25rem;
    font-size: 3rem;
    font-weight: 100;
}

/* SECTION BALLET */
.bodyballet {
    background-color: white;
}

.sectionballet {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 100%;
    margin-top: 1rem;
}

.sectionballet p {
    color: black;
    font-size: 2rem;
    text-align: justify;
    line-height: 3.5rem;
    padding: 1rem;
    font-family: 'Arima Madurai', cursive;
    background-color: white;
}

.imageballet {
    max-height: 40rem;
    padding: 1rem;
}

.sectionballet2 {
    background-color: #A5257C;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    height: 100%;
    margin-top: 1rem;
}

.sectionballet2__title {
    color: aliceblue;
    font-size: 4rem;
    text-align: left;
    padding: 3rem;
    font-family: 'Arima Madurai', cursive;
}

.imageballetind {
    max-height: 20rem;
    padding: 1rem;
}

/* --------------------- ESCUELA  ---------------------*/
/* HEADER */

.headerescuela {
    background-color: white;
    height: 60rem;
}

/* NAVBAR ESCUELA */

.headerescuela__navbar ul {
    list-style-type: none;
    text-align: center;
    position: relative;
    top: 3rem;
}

.headerescuela__navbar li {
    display: inline-block;
}

.headerescuela__navbar a {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    margin: 5rem;
    color: black;
}

.headerescuela__title {
    color: black;
    text-align: center;
    position: relative;
    top: 30rem;
    font-size: 7rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    background-color: white;
}

/* BODY ESCUELA */

.bodyescuela {
    background-color: white;
}

div#quienessomos {
    display: flex;
}

div#profesorado {
    display: flex;
    flex-direction: row-reverse;
}

div#trainning {
    display: flex;
}

.sectionescuela__title {
    color: black;
    font-size: 4rem;
    text-align: left;
    padding: 3rem;
    font-family: 'Arima Madurai', cursive;
}

.sectionescuela p {
    color: black;
    font-size: 2rem;
    text-align: justify;
    line-height: 3.5rem;
    padding: 1rem;
    font-family: 'Arima Madurai', cursive;
}

/* --------------------- CONTACTO  ---------------------*/

.contactocontacto {
    color: white;
    font-size: 2rem;
    text-align: left;
    padding: 0.5rem;
}

.contactocontacto ul {
    list-style-type: none;
}

.contactocontacto li {
    font-size: 2rem;
    padding: 0.5rem;
    list-style-type: none;
}


.contactoredes {
    color: white;
    font-size: 3rem;
    text-align: left;
    padding: 0.5rem;
}

.contactoredessociales ul {
    list-style-type: none;
    text-align: right;
    text-decoration: none;
}

.contactoredessociales li {
    font-size: 1rem;
    padding: 0.5rem;
    list-style-type: none;
    color: white;
    font-size: 2rem;
}

.sectionformulario {
    background-color: white;

}

.formulario {
    padding: 1rem;

}

.fieldset {
    display: grid;
    grid-template-areas:
        "text apellido etiqueta1 consulta"
        "text nombre etiqueta2 cuadro"
        "text mail etiqueta3 cuadro"
        "text tel etiqueta4 boton"
    ;
    grid-template-columns: 2fr 1fr 2fr 4fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-row-gap: 2px;
    grid-column-gap: 5px;
}

p#text {
    grid-area: text;
}

label#apellido {
    grid-area: apellido;
}

label#nombre {
    grid-area: nombre;
}

label#mail {
    grid-area: mail;
}

label#tel {
    grid-area: tel;
}

label#form {
    grid-area: consulta;
}

input#apellido {
    grid-area: etiqueta1;
}

input#nombre {
    grid-area: etiqueta2;
}

input#mail {
    grid-area: etiqueta3;
}

input#tel {
    grid-area: etiqueta4;
}

textarea#consulta {
    grid-area: cuadro;
}

input#enviar {
    grid-area: boton;
}

.formulario__legend {
    font-size: 2rem;
    font-family: 'Arima Madurai', cursive;
}

.formulario__label {

    font-size: 1.5rem;
    font-family: 'Arima Madurai', cursive;
}

/* .formulario__input {
    height: 3rem;
    width: 20rem;
} */

/* .formulario__text {
    height: 20rem;
    width: 20rem;
    margin: 2rem;
} */
/* 
.formulario__enviar {
    height: 3rem;
    width: 6rem;
} */

/* --------------------- MEDIA QUERIE PARA MOVIL --------------------- */

@media (max-width: 480px) {

    /* --------------------- INDEX  ---------------------*/
    /* HEADER */

    .header {
        background-position: top;
    }

    /* NAVBAR */

    .header__navbar ul {
        flex-wrap: nowrap;
    }

    .header__navbar a {
        font-size: 15px;
        padding: 0rem;
        margin: 1rem;
    }

    .header__title {
        font-size: 70px;
        top: 55%;
    }

    .header__descripcion {
        font-size: 15px;
        top: 55%;
    }

    /* BODY */

    .section__title {
        font-size: 2rem;
        padding: 0.5rem;
    }


    .section p {
        font-size: 1rem;
        text-align: justify;
        line-height: 1rem;
        padding: 0.5rem;
    }

    /* FOOTER */

    .footer {
        height: 100%;
        margin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    .footer__title {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .footer__comunicar li {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    .footer__redessociales li {
        font-size: 0.75rem;
        padding: 0.5rem;
    }

    /* --------------------- ESCUELA  ---------------------*/

    /* HEADER */

    .headerescuela {
        height: 100vh;
    }

    /* NAVBAR ESCUELA */

    .headerescuela__navbar ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        top: 1rem;
    }

    .headerescuela__navbar a {
        font-size: 15px;
        padding: 0rem;
        margin: 1rem;
    }

    .headerescuela__title {
        font-size: 70px;
        top: 55%;
    }

    /* BODY ESCUELA */


    div#quienessomos {
        flex-direction: column;
    }

    div#profesorado {
        flex-direction: column;
    }

    div#trainning {
        display: flex;
        flex-direction: column;
    }

    .sectionescuela__title {
        font-size: 2rem;
        padding: 0.5rem;
    }

    .sectionescuela p {
        font-size: 1rem;
        text-align: justify;
        line-height: 1rem;
        padding: 0.5rem;
    }

    /* --------------------- GALERIA  ---------------------*/

    /* HEADER GALERIA */

    .headergaleria__title {
        font-size: 40px;
        top: 65%;
    }

    .imagegaleria {
        max-height: 40VH;
        padding: 1rem;
        justify-content: space-between;
    }

    .videogaleria {
        padding: 1rem;
        max-width: 30%;
        justify-content: center;
    }

    /* --------------------- CONTACTO  ---------------------*/

    .contactocontacto li {
        font-size: 1rem;
        padding: 0.5rem;
        text-align: center;
    }

    .contactoredes {
        font-size: 1.5rem;
        text-align: center;
        padding: 0.5rem;
    }

    .contactoredessociales li {
        font-size: 1rem;
        padding: 0.25rem;
        text-align: center;
        color: white;
    }

    .formulario {
        padding: 1rem;
    }

    .fieldset {
        display: grid;
        grid-template-areas:
            "text apellido etiqueta1 consulta"
            "text nombre etiqueta2 cuadro"
            "text mail etiqueta3 cuadro"
            "text tel etiqueta4 boton"
        ;
        grid-template-columns: 2fr 1fr 0.5fr 4fr;
        grid-template-rows: repeat(4, 25%);
        grid-row-gap: 2px;
        grid-column-gap: 5px;
    }

    p#text {
        font-size: 0.5rem;
    }

    .formulario__legend {
        font-size: 1rem;
    }

    .formulario__label {
        font-size: 0.75rem;
    }

    /* --------------------- BALLET  ---------------------*/

    /* HEADER BALLET */

    .headerballet {
        background-position: top;
        height: 100VH;
    }

    /* NAVBAR BALLET */

    .headerballet__navbar ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        top: 1rem;
    }

    .headerballet__navbar li {
        display: inline-block;
    }

    .headerballet__navbar a {
        font-size: 15px;
        padding: 0rem;
        margin: 1rem;
    }

    .headerballet__title {
        top: 55%;
        font-size: 50px;
    }

    .sectionballet p {
        font-size: 1rem;
        line-height: 1rem;
        padding: 0.5rem;
    }

    .imageballet {
        max-height: 10rem;
        padding: 1rem;
        justify-content: space-around;
        justify-content: center;
    }

    .sectionballet2__title {
        color: aliceblue;
        font-size: 4rem;
        text-align: left;
        padding: 3rem;
        font-family: 'Arima Madurai', cursive;
    }

    .imageballetind {
        max-height: 10rem;
        padding: 1rem;
    }
}